<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px Arial;
            margin: 10px;
            padding: 10px;
        }

        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
            margin-top: 5px;
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .loader-container {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: block;
            opacity: 0.7;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }

        .month-container {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .month-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .month-container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .month-container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .month-container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .month-container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .custom-select {
            position: relative;
            font-family: Arial;
        }

        .custom-select select {
            display: none; /*hide original SELECT element:*/
        }

        .select-selected {
            background-color: DodgerBlue;
        }

        /*style the arrow inside the select element:*/
        .select-selected:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
        }

        /*point the arrow upwards when the select box is open (active):*/
        .select-selected.select-arrow-active:after {
            border-color: transparent transparent #fff transparent;
            top: 7px;
        }

        /*style the items (options), including the selected item:*/
        .select-items div, .select-selected {
            color: #ffffff;
            padding: 8px 16px;
            border: 1px solid transparent;
            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            cursor: pointer;
            user-select: none;
        }

        /*style items (options):*/
        .select-items {
            position: absolute;
            background-color: DodgerBlue;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
        }

        /*hide the items when the select box is closed:*/
        .select-hide {
            display: none;
        }

        .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .button {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            psition: relative;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<div style='float:right;'>
    <a href="/auth/revoke" class="button">Revoke access token</a>
</div>
<div class="loader-container" id="load-container" style="display: none">
    <div class="loader"></div>
</div>

<div autocomplete="off">
    <div class="autocomplete" style="width:300px;">
        <input id="myInput" type="text" name="myTeams" placeholder="Teams">
    </div>
</div>
<h3>Choose months</h3>
<label class="month-container">January
    <input type="checkbox" class="month-checkboxes" value="1">
    <span class="checkmark"></span>
</label>
<label class="month-container">Febuary
    <input type="checkbox" class="month-checkboxes" value="2">
    <span class="checkmark"></span>
</label>
<label class="month-container">March
    <input type="checkbox" class="month-checkboxes" value="3">
    <span class="checkmark"></span>
</label>
<label class="month-container">April
    <input type="checkbox" class="month-checkboxes" value="4">
    <span class="checkmark"></span>
</label>
<label class="month-container">May
    <input type="checkbox" class="month-checkboxes" value="5">
    <span class="checkmark"></span>
</label>
<label class="month-container">June
    <input type="checkbox" class="month-checkboxes" value="6">
    <span class="checkmark"></span>
</label>
<label class="month-container">July
    <input type="checkbox" class="month-checkboxes" value="7">
    <span class="checkmark"></span>
</label>
<label class="month-container">August
    <input type="checkbox" class="month-checkboxes" value="8">
    <span class="checkmark"></span>
</label>
<label class="month-container">September
    <input type="checkbox" class="month-checkboxes" value="9">
    <span class="checkmark"></span>
</label>
<label class="month-container">October
    <input type="checkbox" class="month-checkboxes" value="10">
    <span class="checkmark"></span>
</label>
<label class="month-container">November
    <input type="checkbox" class="month-checkboxes" value="11">
    <span class="checkmark"></span>
</label>
<label class="month-container">December
    <input type="checkbox" class="month-checkboxes" value="12">
    <span class="checkmark"></span>
</label>
<div class="custom-select" style="width:200px;">
    <select id="year-select">
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018" selected>2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
    </select>
</div>
<input type="submit" onclick="submitClicked2()">
<div id="table-div" style="display: none">
    <table id="myTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Worked</th>
            <th>Required</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
</div>
<script>
    var teams = [];
    var chosenId;

    function setTeams(data) {
        teams = [];
        for (var i = 0; i < data.results.length; i++) {
            var team = data.results[i];
            teams.push(team.name);
        }
        autocomplete(document.getElementById("myInput"), data.results);
    }

    $(function () {
        loaderVisible();
        $.ajax({
            method: 'GET',
            url: "/get/teams",
        }).done(function (data) {
            setTeams(data);
            hideLoader();
        }).error(function (error) {
            hideLoader();
            alert(error.responseJSON.error);
            console.log(error);
        })
    });


    //TODO fix below 2 functions
    $(function () {
        var currentYear = (new Date()).getFullYear();
        var selectDOM = document.getElementById("year-select");
        selectItemByValue(selectDOM, currentYear);
    });

    function selectItemByValue(elmnt, value){
        console.log(elmnt.options.length);
        for(var i=0; i < elmnt.options.length; i++)
        {
            if(elmnt.options[i].value === value) {
                elmnt.selectedIndex = i;
                console.log("called");
                break;
            }
        }
    }

    function setTeamTable(data) {
        var new_tbody = document.createElement('tbody');
        new_tbody.id = "table-body";
        let i=0;
        for (let key in data) {
            var row = new_tbody.insertRow(i);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = data[key].displayName;
            var cell2 = row.insertCell(1);
            cell2.innerHTML = sToHMmS(data[key].timeSpentSeconds);
            var cell3 = row.insertCell(2);
            cell3.innerHTML = sToHMmS(data[key].requiredSeconds);
            var cell4 = row.insertCell(3);
            var saldo = data[key].saldo;
            cell4.innerHTML = sToHMmS(saldo);
            if(saldo>0)cell4.style.color = 'green';
            else cell4.style.color = 'red';
        }
        var old_tbody = document.getElementById("table-body");
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody);
    }



    function sToHMmS(totalSeconds) {
        hours = Math.floor(totalSeconds / 3600);
        totalSeconds %= 3600;
        minutes = Math.floor(totalSeconds / 60);
        if(totalSeconds<0){
            minutes = Math.abs(minutes);
        }
        return hours + ":" + minutes;
    }

    function tableVisible() {
        document.getElementById("table-div").style.display = "block";
    }

    function hideTable() {
        document.getElementById("table-div").style.display = "none";
    }

    function submitClicked2() {
        if(chosenId === undefined) {
            alert("Please choose a team from the autocomplete text box")
            return;
        }
        var months = getCheckedMonths();
        var year = getYear();
        if (months.length<1) {
            alert("Please check the months you would like to see the total hours for.");
            return;
        }
        else console.log(months);

        console.log(chosenId);
        loaderVisible();
        $.ajax({
            method: 'GET',
            url: "/get/teamhours",
            data: {
                teamId: chosenId,
                months: months,
                year: year
            }
        }).error(function (error) {
            hideLoader();
            alert(error.responseJSON.error);
            console.log(error)
        }).done(function (data) {
            setTeamTable(data);
            hideLoader();
            tableVisible();
        });
    }

    function loaderVisible() {
        document.getElementById("load-container").style.display = "block";
    }

    function hideLoader() {
        document.getElementById("load-container").style.display = "none";
    }

    function getCheckedMonths() {
        var monthCheckBoxes = document.getElementsByClassName('month-checkboxes');
        var checkedMonths = [];
        for (var i = 0; i < monthCheckBoxes.length; i++) {
            if (monthCheckBoxes[i].checked) {
                checkedMonths.push(monthCheckBoxes[i].value);
            }
        }
        return checkedMonths;
    }

    function getYear() {
        return document.getElementById('year-select').value;
    }

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                var name = arr[i].name;
                /*check if the item starts with the same letters as the text field value:*/
                if (name.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + name.substr(0, val.length) + "</strong>";
                    b.innerHTML += name.substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + name + "'>";
                    //add an id
                    b.id = arr[i].id;
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        chosenId = this.id;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    //year selection
    var x, i, j, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 0; j < selElmnt.length; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function(e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                h = this.parentNode.previousSibling;
                for (i = 0; i < s.length; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        for (k = 0; k < y.length; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function(e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        for (i = 0; i < y.length; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < x.length; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);

</script>

</body>
</html>